<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .background-image {
            background-image: url('/images/office.jpg');
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body class="background-image">
<nav class="navbar navbar-expand-md fixed-top text-dark bg-white" style="height: 70px;">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="supervisorMain">TimeTeam Manager SUPERVISOR</a>
        </div>
        <div class="d-flex align-items-center">
            <div class="d-flex justify-content-center" style="background-color: #6c757d; border-radius: 5px; width: 150px; height: 38px; margin-right: 10px;">
                <p class="display-6" id="clock" style="margin-top: -7px; color: white;"></p>
            </div>
            <a href="supervisorMessages">
                <button id="btnMessages" title="messages" class="btn btn-secondary" style="margin-right: 10px;" ><i class="fa-solid fa-envelope"></i></button>
            </a>
            <a href="supervisorSettings">
                <button id="btnSettings" title="settings" class="btn btn-secondary" style="margin-right: 10px;" ><i class="fas fa-cog"></i></button>
            </a>
            <a href="logout">
                <button class="btn btn-secondary" title="logout" ><i class="fa-solid fa-door-open"></i></button>
            </a>
        </div>
    </div>
</nav>

<div style="width: 100%; margin-top: 70px;">
    <div class="row">
        <div class="col-md-2 custom-padding justify-content-center">
            <div class="btn-group-vertical" style="width: 80%; margin-left: 40px;">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#logPresenceViaNFCModal" style="margin-top: 10px; height: 60px;"><span th:text="${presence}"/></button>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#logBreakViaNFCModal" style="margin-top: 10px; height: 60px;"><span th:text="${break}"/></button>
                <div class="btn-group" role="group">
                    <button id="showPresence" type="button" class="btn btn-secondary active" style="margin-top: 10px; height: 60px;" onclick="showPresence()">Presence table</button>
                    <button id="showBreak" type="button" class="btn btn-secondary" style="margin-top: 10px; height: 60px;" onclick="showBreak()">Break table</button>
                </div>
                <a href="supervisorHolidays" style="width: 100%;">
                     <button type="button" class="btn btn-secondary" style="margin-top: 10px; height: 60px; width: 100%;">Holiday requests</button>
                </a>
                <div class="dropdown" style="margin-top: 10px; width: 100%;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" style="height: 60px; width: 100%;" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Subordinates
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="supervisorPresenceSubordinates">Presence</a></li>
                        <li><a class="dropdown-item" href="supervisorBreakSubordinates">Breaks</a></li>
                        <li><a class="dropdown-item" href="supervisorHolidaySubordinates">Holidays</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="jumbotron main-hello" style="background-color: rgba(200,200,200,0.9); margin-top: 20px">
                <div>
                    <div class="d-flex justify-content-center">
                        <div th:if="${info != null}" style="margin-top: 10px;">
                            <div class="alert alert-success">
                                <h4 th:text="${info}"/>
                            </div>
                        </div>
                        <div th:if="${error != null}" style="margin-top: 10px;">
                            <div class="alert alert-danger">
                                <h4 th:text="${error}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="timeWork">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <h1 class="text-center" style="margin: 10px; padding-left: 50px; flex-grow: 1;">Time work</h1>
                            <a href="generateWorkPdf">
                                <button id="btnGenerateWorkPdf" title="generateWorkPdf" class="btn btn-secondary" style="margin-right: 10px;" ><i class="fa-solid fa-file-pdf"></i></button>
                            </a>
                            <a href="generateWorkExcel">
                                <button id="btnGenerateWorkExcel" title="generateWorkExcel" class="btn btn-secondary" style="margin-right: 10px;" ><i class="fa-solid fa-file-csv"></i></button>
                            </a>
                        </div>
                        <div class="col-md-6" style="margin: 20px;">
                            <div id="scrollDiv1" class="table-responsive" style="max-height: 450px;">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead style="background-color: #888;">
                                    <tr>
                                        <th scope="col" class="text-center" width="25%">Start work</th>
                                        <th scope="col" class="text-center" width="25%">End work</th>
                                        <th scope="col" class="text-center" width="25%">Duration</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="presence : ${presenceList}">
                                        <td th:text="${presence.id}" hidden></td>
                                        <td th:text="${presence.startTime}" width="30%"></td>
                                        <td th:text="${presence.endTime}" width="30%"></td>
                                        <td th:text="${presence.duration}" width="20%"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-5" style="margin: 20px;">
                            <h5 style="margin-left: 10px;">Hours worked: <span style="font-weight: bold;" th:text="${workedHours}"></span></h5>
                            <h5 style="margin-left: 10px;">Quantity lates: <span style="font-weight: bold;" th:text="${quanityLates}"></span></h5>
                        </div>
                    </div>
                    <div class="row" id="timeBreak" style="display: none">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <h1 class="text-center" style="margin: 10px; padding-left: 50px; flex-grow: 1;">Time break</h1>
                            <a href="generateBreakPdf">
                                <button id="btnGenerateBreakPdf" title="generateBreakPdf" class="btn btn-secondary" style="margin-right: 10px;" ><i class="fa-solid fa-file-pdf"></i></button>
                            </a>
                            <a href="generateBreakExcel">
                                <button id="btnGeneratBreakExcel" title="generateBreakExcel" class="btn btn-secondary" style="margin-right: 10px;" ><i class="fa-solid fa-file-csv"></i></button>
                            </a>
                        </div>
                        <div class="col-md-6" style="margin: 20px;">
                            <div id="scrollDiv2" class="table-responsive" style="max-height: 450px;">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead style="background-color: #888;">
                                    <tr>
                                        <th scope="col" class="text-center" width="25%">Start break</th>
                                        <th scope="col" class="text-center" width="25%">End break</th>
                                        <th scope="col" class="text-center" width="25%">Duration</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="break : ${breakList}">
                                        <td th:text="${break.id}" hidden></td>
                                        <td th:text="${break.startTime}" width="30%"></td>
                                        <td th:text="${break.endTime}" width="30%"></td>
                                        <td th:text="${break.duration}" width="20%"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-5" style="margin: 20px;">
                            <h5 style="margin-left: 10px;">Hours break: <span style="font-weight: bold;" th:text="${breakHours}"></span></h5>
                        </div>
                    </div>
                    <div class="row" id="settings" style="display: none">
                        <h1 class="text-center" style="margin: 10px;">Settings</h1>
                        <p style="margin-right: 10px; margin-top: 10px; font-size: 1.5em;">Logged in as: <span style="font-weight: bold;" th:text="${employee}"/></p>
                        <p style="margin-right: 10px; margin-top: 10px; font-size: 1.5em;">Your supervisor is: <span style="font-weight: bold;" th:text="${supervisor}"/></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
<footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3 text-dark bg-white" style="position: fixed; bottom: 0; width: 100%; height: 70px;">
        2023 Gabriel Szybiak
    </div>
</footer>

<!-- Log Presence Via NFC Modal Window -->
<div class="modal fade" id="logPresenceViaNFCModal" tabindex="-1" aria-labelledby="logPresenceViaNFCModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="logPresenceViaNFCModalLabel">Log presence via NFC</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <form id="nfcLogPresenceForm" action="/supervisorLogPresence" th:action="@{/supervisorLogPresence}" method="post">
                    <div class="form-outline mb-4">
                        <input type="password" id="nfcCodePresence" class="form-control form-control-lg" required autofocus name="nfcCode" placeholder="Tap your NFC card to the reader to log presence"/>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Log Break Via NFC Modal Window -->
<div class="modal fade" id="logBreakViaNFCModal" tabindex="-1" aria-labelledby="logBreakViaNFCModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="logBreakViaNFCModalLabel">Log break via NFC</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <form id="nfcLogBreakForm" action="/supervisorLogBreak" th:action="@{/supervisorLogBreak}" method="post">
                    <div class="form-outline mb-4">
                        <input type="password" id="nfcCodeBreak" class="form-control form-control-lg" required autofocus name="nfcCode" placeholder="Tap your NFC card to the reader to log break"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var modal = new bootstrap.Modal(document.getElementById('logPresenceViaNFCModal'));

        modal._element.addEventListener('shown.bs.modal', function () {
            document.getElementById('nfcCodePresence').focus();
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var modal = new bootstrap.Modal(document.getElementById('logBreakViaNFCModal'));

        modal._element.addEventListener('shown.bs.modal', function () {
            document.getElementById('nfcCodeBreak').focus();
        });
    });

    function showBreak() {
        document.getElementById("timeBreak").style.display = "";
        document.getElementById("timeWork").style.display = "none";
        document.getElementById("showBreak").classList.add("active");
        document.getElementById("showPresence").classList.remove("active");
    }

    function showPresence() {
        document.getElementById("timeBreak").style.display = "none";
        document.getElementById("timeWork").style.display = "";
        document.getElementById("showPresence").classList.add("active");
        document.getElementById("showBreak").classList.remove("active");
    }

    function updateClock() {
        var now = new Date();

        var hours = now.getHours();
        var minutes = now.getMinutes();
        var seconds = now.getSeconds();

        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        seconds = (seconds < 10) ? "0" + seconds : seconds;

        document.getElementById("clock").innerHTML = hours + ":" + minutes + ":" + seconds;

        setTimeout(updateClock, 1000);
    }

    window.onload = function () {
        updateClock();
    };

</script>
</html>